.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0%;
  padding: 0%;
}

.header .inputContainer{
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.header{
  display: flex;
  width: 100vw;
  height: 40vh;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  background-color: orange;
}

.header input{
  width: 25rem;
  height: 3.5rem;
  border:none;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  font-size: 17px;
  border:1px solid grey;
}

.header button{
  width: 5rem;
  height: 3.5rem;
  border:none;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  padding-left: 10px;
  cursor:pointer;
}

.header label {
  color: #000000;
  font-weight: bold;
  display: block;
}

select {
  width: 18rem;
  padding: 0.8rem;
  border: 0 ;
  background-color: lightblue;
}

.todoList{
  flex: 65%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  flex-direction: column;
  background-color: rgba(255, 255, 75, 0.59);

}

.task{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  padding: .3rem;
}

.task .checkbox{
  width: 20px;
  height: 20px;
  margin: .5rem;
  border: 1px solid gray;
  border-radius: 20px;
  cursor: pointer;

}

.task input{
    width: 20rem;
    border: 1px solid grey;
    padding: .5rem;
    border-radius: .5rem;
}


.task button{
  background-color: orange;
  padding: .5rem;
  border: 1px solid gray;
  width: 3rem;
  border-radius: .5rem;
  color: white;
  font-weight: bold;
  cursor: pointer,
}

@media only screen and (max-width: 500px) {
  .header .inputContainer {
    width: 95vw;
  }
  .task {
    width: 95vw;
  }

}


